.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: rgb(255, 255, 255);
}

.container .row1,
.container .row2,
.container .row3,
.container .row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 2%;
  border-style: solid;
  border-color: rgb(235, 236, 234);
}
.container .row1 .avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  width: 150px;
}
.container .row1 .name {
  margin-left: 5%;
}
.container .row1 .infomation {
  margin-left: auto;
}
.container .row2,
.container .row3 .container .row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 2%;
  border-style: solid;
  border-color: rgb(235, 236, 234);
}
.container .row2 .col1,
.container .row3 .col1,
.container .row4 .col1 {
  box-sizing: border-box;
  color: rgb(175, 90, 90);
  flex: 0 0 20%;
}
.container .row2 .col2,
.container .row3 .col2,
.container .row4 .col2 {
  margin-left: 5%;
}
.container .row5 {
  width: 100%;
  box-sizing: border-box;
  border: 2%;
  border-style: solid;
  border-color: rgb(235, 236, 234);
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
.container .row5 .contact {
  color: rgb(127, 132, 192);
}
a {
  text-decoration: none;
  /* color: inherit; */
}
@media (max-width: 768px) {
  .container .row1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap: 20px;
  }

  .container .row1 .name {
    margin-left: 5%;
    margin-top: 10px;
  }

  .container .row1 .infomation {
    margin-left: 5%;
    margin-top: 10px;
  }
}
